
<script src="/js/time.js"></script>
<script src="/js/note.js"></script>
<script src="/js/game.js"></script>
<script src="/js/timer.js"></script>
<script src="/js/wether.js"></script>
</body>

<footer>
  Copyright printer
</footer>

</html>
